<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">
<head>
    <title>Book a meeting room</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link rel="stylesheet" href="css/calendarDemo.css">

</head>
<body data-spy="scroll">
<div role="main">
    <div class="container">
        <section id="directives-calendar" ng-controller="CalendarCtrl">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <div class="btn-group calTools">
                         <newentrydir></newentrydir>
                            <div id="new-entry-form"></div>
                        </div>


                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="fa fa-times"></i></a>
                                    <b> <input ng-model="e.title"></b>
                                    {{e.start | date:"EEE,dd (h-mma)"}} - {{e.end | date:"(h-mma)"}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <tabset>
                              <tab select="renderCalender('myCalendar1');" ng-click="onUserSelect('roomOne')">
                              <tab-heading id="roomOne">
                               <i class="fa fa-bell"></i> Meeting room one
                              </tab-heading>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Meeting room one Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                           <tab select="renderCalender('myCalendar2');" ng-click="onUserSelect('roomTwo')">
                            <tab-heading id="roomTwo">
                              <i class="fa fa-bell"></i> Meeting room two
                            </tab-heading>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Meeting room two Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar2')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar2')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar2')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar2" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                        </tabset>
                    </div>
                </div>
        </section>
    </div>
</div>

<script src="js/jquery.min.js"></script>

    <script src="js/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/jquery.datetimepicker.js"></script>
    <script src="js/fullcalendar.js"></script>
    <script src="js/gcal.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/calendarDemo.js"></script>
    <script>
        $(document).ready(function(){
    $s('.datetimepicker').datetimepicker({
        format:'m/d/Y H:i'
    });
        });
         $('body').on('focus',".datetimepicker", function(){
    $(this).datetimepicker();
});
    </script>
    </body>
</html>
