<div class="notification-table">
<div class="table">
    <caption><h1>Notification</h1></caption>
    <table>
        <thead>
        <tr>
            <th>This Month</th>
            <th class="center"></th>
            <th class="center"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Create design</td>
            <td class="center">100%</td>
            <td class="center">Yes</td>
        </tr>
        <tr>
            <td>Take  a walk</td>
            <td class="center">100%</td>
            <td class="center">Yes</td>
        </tr>
        <tr>
            <td>Waste half the day on Twitter</td>
            <td class="center">20%</td>
            <td class="center">No</td>
        </tr>
        <tr>
            <td>Feel inferior after viewing Dribbble</td>
            <td class="center">80%</td>
            <td class="center">No</td>
        </tr>
        <tr>
            <td>Vince a "to-do" list</td>
            <td class="center">100%</td>
            <td class="center">Yes</td>
        </tr>
        <tr>
            <td>Vow to complete personal project</td>
            <td class="center">23%</td>
            <td class="center">Yes</td>
        </tr>
        <tr>
            <td>Procrastinate</td>
            <td class="center">80%</td>
            <td class="center">No</td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
